@import "tailwindcss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}
body {
  margin: 0;
  min-height: 100vh;
  background-image: url('/images/bg.jpg');
  background-size: cover;      /* fills screen */
  background-position: center; /* keeps focus */
  background-repeat: no-repeat;
}
.header {
  max-width: 50%;
  color: white;
  font-weight: 700;
  font-size: 34px;
  margin-top: 70px;
  margin-bottom: 20px;
  justify-self: center;
  line-height: 30px;
  text-align: center;
}
.purple-gradient {
  background: linear-gradient(to right, white, rgb(108, 108, 177));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search-box {
  justify-self: center;
  border: 1px solid rgb(114, 112, 112);
  border-radius: 14px;
  min-width: 300px;
  height: 28px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(8px);
}
.input-box {
  height: 18px;
  width: 90%;
  margin-left: 5px;
  font-size: 11px;
}
input:focus {
  outline: none;
}

.search-button{
  margin-top: 1px;
  margin-right: 3px;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

